# 音色樣本只保留 mp3，排除 wav 和 ogg
samples/**/*.wav
samples/**/*.ogg

# 未使用的樂器資料夾
samples/bass-electric/
samples/bassoon/
samples/cello/
samples/clarinet/
samples/contrabass/
samples/flute/
samples/french-horn/
samples/guitar-electric/
samples/saxophone/
samples/trombone/
samples/trumpet/
samples/tuba/
samples/violin/
samples/xylophone/
